apiVersion: aws.m.upbound.io/v1beta1
kind: ProviderConfig
metadata:
  name: main
  namespace: crossplane-system
spec:
  credentials:
    source: Secret
    secretRef:
      namespace: crossplane-system
      name: aws-credentials
      key: credentials
